*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 17px;
}

a {
    text-decoration: none;
}

:root {
    --primary-color: #fe7300;
    --white-color: #F6F4F9;
    --gray-color: rgb(230, 229, 229);
    /* --background-color: rgb(182, 232, 232); */
    --background-color: rgb(169, 201, 201);
    --black-color: #1e1d1d;
    --text-color: #000000;
    --secondary-color: #f9ced9;
    --tertiary-color: #9bafd4;
    --shadow-color: #00000057;
    --body-color:#fff2f2;
}

html {
    font-size: 17px;
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
    font-family: 'Jost', Arial, Helvetica, sans-serif;
    min-height: 100vh;
    background-color: var(--body-color);
}

.container {
    background-color: var(--tertiary-color);
    width: 100%;
}

.header { 
    background-color: transparent; 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 100;
    transition: 0.25s ease;;
    padding-top: .1em;
}

.header.active {
    background-color: var(--white-color); 
    box-shadow: 0 2px 2px var(--shadow-color);
}

.header .header-container {
    padding: 0 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header .logo {
    display: flex;
    align-items: center;
}

.header .logo-container a h1 {
    color: var(--primary-color);
    text-transform: uppercase;
    letter-spacing: 3px;
    transition: 0.25s ease;
    font-weight: 500;
    font-size: 2.2rem;
}

.header .navbar a {
    color: var(--text-color);
    text-transform: uppercase;
    letter-spacing: 3px;
    transition: 0.2s ease;
    font-weight: 500;
}

.header .desktop-nav a:hover {
    border-bottom: 2px solid var(--primary-color);
}

.header .desktop-nav {
    display: flex;
}

.header .desktop-nav a {
    margin-left: .5em;
}

.primary-button  {
    background-color: var(--primary-color);
    text-transform: uppercase;
    max-width: max-content;
    letter-spacing: 2px;
    padding: .7em 1.2em;
    box-shadow: 6px 6px 0 -1px var(--shadow-color, );
    color: var(--white-color); 
    position: relative;
    display: inline-block;
}

.primary-button:hover {
    background-color: var(--shadow-color);
    box-shadow: 5px 5px 0 -2px var(--primary-color);
} 

.nav-toggle-button {
    display: none;
}

.mobile-nav {
    display: none;
    border-top: 1px solid var(--shadow-color);
    border-bottom: 1px solid var(--shadow-color);
}

.mobile-nav a {
    display: block;
    padding: .8em 1em;
}

.mobile-nav a:not(:last-of-type) {
    border-bottom: 1px solid  var(--shadow-color);
 } 


.profile-container {
    position: relative;
    background-color: var(--background-color);
    overflow: hidden;
    padding: 6em 0 0 0;
    display: flex;
    justify-content: space-between;
}

.profile-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 0 0 0 2em;
}

.profile-banner-container {
    display: flex;
    justify-content: center;
    width: 50%;
    align-items: baseline;
    background-color: var(--tertiary-color);
    padding: 0;
    margin: 0;
    border-top-left-radius: 100%;
    border-left: 10px solid var(--white-color);
}

.services-section {
    position: relative;
    padding-top: 6em;
    background-color: var(--gray-color);
    display: flex;
    justify-content: space-between;
    width: 100%;
}
 
.services-section .services-image-container {
    display: flex;
    justify-content: center;
    width: 43%;
    gap: 1em;
    background-color: var(--tertiary-color);
    padding: 0;
    margin: 0;
    border-top-right-radius: 100%;
    border-right: 10px solid var(--white-color);
}

.services-section .services-statement-container {
    width: 55%;
    padding: 1em;
}

.services-title {
    padding-bottom: 1em;
    color: var(--text-color);
    font-size: 2rem;
}

.services-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: .5em;
}

.service {
    width: 49%;
    padding: .5em;
    border: 1px solid var(--white-color);
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.service .service-icon {
    padding: .5em;
    color: var(--primary-color);
}

.skills-section {
    display: flex;
    justify-content: space-between;
    padding: 6em 0 0 2em;
    background-color: var(--background-color);
}

.skills-title {
    align-self: flex-start;
    color: var(--text-color);
    font-size: 2rem;
    margin-bottom: 1em;
}

.skills-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 1em;
}

.skills {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    gap: 1em;
}

.skills .skill {
    width: 48%;
    background-color:  var(--gray-color);
    padding: 1em;
    color: var(--black-color);
    border-radius: 10px;
}

.skills .skill i {
    color: #000000;
}

.skills-image-container {
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 50%;
    background-color: var(--tertiary-color);
    padding: 0;
    border-top-left-radius: 100%;
    border-left: 10px solid var(--white-color);
}

.section-break {
    padding: 2em;
    width: 100%;
    background-color: var(--secondary-color);
    border-top: 10px solid var(--white-color);
    border-bottom: 10px solid var(--white-color);
}

.section-break div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: .5em;
}

.section-break div a {
    margin: .5em 0;
    background-color: var(--shadow-color);
    border: .5px solid var(--gray-color);
    border-radius: 10px;
}

.projects-section {
    background-color: var(--background-color);
    padding: 6em 2em 2em 2em;
}

.projects-title {
    float: left;
    font-size: 2rem;
    margin-bottom: 1em;
    color: var(--text-color);
}

.project-section-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: .9em;
}

.projects-section .project-card-container {
    width: 32%;
    border: 2px solid var(--white-color);
    padding: .5em;
    border-radius: 10px;
    transition: 0.3s;
    background-color: var(--gray-color)
}

.projects-section .project-card-container:hover {
    cursor: pointer;
    transform: scale(1.03);
}

.projects-section .project-card{
    width: 100%;
    position: relative;
    border-radius: 10px;
}

.project-text p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.projects-section .project-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid var(--white-color);
}

.project-layer h4 {
    padding: .5em;
    background-color: var(--primary-color);
    border-radius: 10px;
    display: none;
}

.project-layer h4 a {
    color: var(--white-color);
}

.projects-section .project-card:hover .project-layer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    color: var(--black);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    background: var(--shadow-color);
    opacity: 1;
    border-radius: 10px;
}

.projects-section .project-card:hover .project-layer h4 {
    display: block;
}

.contact-section {
    padding: 6em 2em 3em 2em;
    background-color: var(--gray-color);
}

.contact-title {
    float: left;
    color: var(--text-color);
    font-size: 2rem;
    margin-bottom: .5em;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 1em;
    
}

.contact-form {
    width: 48%;
    padding: 1em;
    background-color: var(--background-color);
    border-radius: 10px;
}

.contact-information {
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    background-color: var(--background-color);
    padding: 1em;
    border-radius: 10px;
}

.contact-info {
    display: flex;
    justify-content: flex-start;
    gap: 1em;
}

.contact-info .icon {
    color: var(--primary-color);
}

.contact-info .icon i {
    font-size: large;
}

.contact-info .info-title {
    color: var(--text-color);
}

input[type=text], input[type=email], textarea {
    width: 100%;
    padding: .5em;
    border: 1px solid var(--white-color);
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: .3em;
    margin-bottom: .5em;
    resize: vertical;
    outline: 1px solid transparent;
}

input[type=submit] {
    cursor: pointer;
    width: 100%;
    background-color: var(--primary-color);
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: .6em 1.2em;
    border: none;
    box-shadow: 6px 6px 0 -1px var(--shadow-color );
    color: var(--white-color); 
    position: relative;
    display: inline-block;
}

input[type=submit]:hover {
    background-color: var(--shadow-color);
    box-shadow: 5px 5px 0 -2px var(--primary-color);
    color: var(--white-color);
}

label {
    color: var(--text-color);
    font-weight: 500;
}

footer {
    background-color: var(--shadow-color);
    color: var(--white-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
}

footer .footer-socials i {
    color: var(--white-color);
    padding: 0 .2em;
    font-size: xx-large;
}

footer .footer-rights {
    color: white;
    padding: 0 .2em;
    font-size: 1.3rem;
}
