:root {
    --primary-color: #fe7300;
    --white-color: #F6F4F9;
    --gray-color: rgb(230, 229, 229);
    --background-color: rgb(169, 201, 201);
    --black-color: #1e1d1d;
    --text-color: #000000;
    --secondary-color: #f9ced9;
    --tertiary-color: #9bafd4;
    --shadow-color: #00000057;
}

/* Min-width 1500px  */
@media (min-width:1500px) {
    .container {
        max-width: 1200px;
        margin: 0 auto;
        position: relative;
    }

    .header { 
        position: sticky;
    }
}

/* max-width 1000px */
@media (max-width: 1000px) {
    .nav-toggle-button {
        display: flex;
    }

    .header {
        background-color: var(--background-color);
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .mobile-nav {
        background-color: var(--white-color);
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .header .primary-button {
        display: none;
    }

    .header .desktop-nav {
        display: none;
    }

    .header .mobile-nav.active {
        display: block;
    }

    .profile-container {
        flex-direction: column;
        gap: 3em;
        align-items: center;
    }
    
    .profile-text-container {
        justify-content: center;
        align-items: center;
        width: 100%;
    
    }
    
    .profile-banner-container {
        justify-content: center;
        width: 100%;
        align-items: center;
    }

    .primary-button {
        letter-spacing: normal;
        padding: .5em .8em;
        font-size: 0.8rem; 
    }

    .primary-button a {
        font-size: 0.8rem; 
    }

    .services-section {
        flex-direction: column;
        align-items: center;
    }
     
    .services-section .services-image-container {
        width: 100%;
    }

    .services-section .services-image-container img {
        width: 60%;
    }
    
    .services-section .services-statement-container {
        align-items: flex-start;
        width: 100%;
        padding: 1em;
        order: -1;
    }

    .skills-section {
        flex-direction: column;
        padding: 6em 0 0 0em;
    }
    
    .skills-container {
        width: 100%;
    }

    .skills-image-container {
        width: 100%;
    }

    .skills-image-container img {
        width: 60%;
    }

    .section-break {
        padding: 1em;
    }

    .projects-section {
        padding: 6em 1em 2em 1em;
    }

    .project-section-container {
        flex-direction: column;
    }
    
    .projects-section .project-card-container {
        width: 100%;
        padding-left: .5em;
        padding-right: .5em;
    }

    .projects-section .project-card-container img {
        width: 100%;
        height: auto;
    }

    .contact-section {
        padding: 6em 1em 5em 1em;
    }

    .contact-container {
        flex-direction: column;
        gap: 2em;
    }

    .contact-title {
        font-size: 1.7rem;
    }
    
    .contact-form {
        width: 100%;
        padding: 1em .5em;
    }
    
    .contact-information {
        width: 100%;/
    }

    footer {
        flex-direction: column;
    }
    
}

/* max-width 600px */
@media (max-width: 600px) {
    .header .header-container {
        padding: 0 1em;
    }

    .header .logo img {
        width: 45px;
    }
    
    .header .logo-container a h1 {
        font-size: 1.8rem;
    }

    .profile-text-container {
        align-items: flex-start;
        padding: 1em;
    }

    .profile-banner-container {
        border-bottom-left-radius: 0%;
    }

    .services-container {
        flex-direction: column;
        gap: 1em;
    }
    
    .service {
        width: 100%;
        padding: .5em 1em;
        flex-direction: column;
    }

    .service icon {
        font-weight: 800;
    }

    .skills-image-container img {
        width: 50%;
    }

    .skills {
        gap: .3em;
    }
    
    .skills .skill {
        width: 48%;
        padding: 1em;
    }
    
    .section-break div a {
        font-size: .7em;
    }

    .projects-title {
        font-size: 1.7rem;
    }
}
      
 
  

  
