:root {
    --primary-color: #fe7300;
    --white-color: #F6F4F9;
    --gray-color: rgb(230, 229, 229);
    --background-color: rgb(182, 232, 232);
    --black-color: #1e1d1d;
    --text-color: #000000;
    --secondary-color: #f9ced9;
    --tertiary-color: #9bafd4;
    --shadow-color: #00000057;
}

@media (max-width: 900px) {
    .nav-toggle-button {
        display: flex;
    }

    .header {
        background-color: var(--background-color);
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .mobile-nav {
        background-color: var(--white-color);
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .header .primary-button {
        display: none;
    }

    .header .desktop-nav {
        display: none;
    }

    .header .mobile-nav.active {
        display: block;
    }

    .hero-container {
        flex-direction: column;
        gap: 3em;
        align-items: center;
    }
    
    .hero-text-container {
        justify-content: center;
        align-items: center;
        width: 100%;
    
    }
    
    .hero-banner-container {
        justify-content: center;
        width: 100%;
        align-items: center;
    }

    .primary-button {
        letter-spacing: normal;
        padding: .5em .8em;
        font-size: 0.8rem; 
    }

    .primary-button a {
        font-size: 0.8rem; 
    }

    .services-section {
        flex-direction: column;
        align-items: center;
    }
     
    .services-section .services-image-container {
        width: 100%;
    }

    .services-section .services-image-container img {
        width: 60%;
    }
    
    .services-section .services-statement-container {
        align-items: flex-start;
        width: 100%;
        padding: 1em;
        order: -1;
    }

    .skills-section {
        flex-direction: column;
        padding: 6em 0 0 0em;
    }
    
    .skills-container {
        width: 100%;
    }

    .skills-image-container {
        width: 100%;
    }

    .section-break {
        padding: 1em;
    }

    .projects-section {
        padding: 6em 1em 2em 1em;
    }

    .project-section-container {
        flex-direction: column;
    }
    
    .projects-section .project-card-container {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    .contact-section {
        padding: 6em 1em 5em 1em;
    }

    .contact-container {
        flex-direction: column;
        gap: 2em;
    }

    .contact-title {
        font-size: 1.7rem;
    }
    
    .contact-form {
        width: 100%;
        padding: 1em .5em;
    }
    
    .contact-information {
        width: 100%;/
    }

    footer {
        flex-direction: column;
    }
    
}


@media (max-width: 600px) {
    .header .header-container {
        padding: 0 1em;
    }

    .header .logo img {
        width: 45px;
    }
    
    .header .logo-container a h1 {
        font-size: 1.8rem;
    }

    .hero-text-container {
        align-items: flex-start;
        padding: 1em;
    }

    .hero-banner-container {
        border-bottom-left-radius: 0%;
    }

    .services-container {
        flex-direction: column;
        gap: 1em;
    }
    
    .service {
        width: 100%;
        padding: .5em 1em;
        flex-direction: column;
    }

    .service icon {
        font-weight: 800;
    }


    .skills {
        gap: .5em;
    }
    
    .skills .skill {
        width: 47%;
        padding: 1em;
    }
    
    .section-break div a {
        font-size: .7em;
    }

    .projects-title {
        font-size: 1.7rem;
    }
}
      
 
  

  
